<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="../stylesheets/settings.css"/>
</head>
<body>

<form>
    <div class="checkbox">
        <input type="checkbox" id="enable" name="enable" class="switch" />
        <label for="enable">Enabled</label>
    </div>

    <div class="text-input">
        <label for="gif-url">New loading .gif URL:</label>
        <input type="text" id="gif-url" name="gif-url" onchange="update_all_fields()" />
    </div>

    <div class="text-input">
        <label for="scale-factor">Scaling factor: <span id="range-value">?</span></label>
        <input id="scale-factor" min="0.2" max="8" step="0.1" value="1" type="range" oninput="update_all_fields(this.value)">
    </div>

    <img id="result" src="" alt="Image unavailable/ invalid or is still loading" height="36" width="auto"/>

    <div class="submit">
        <input value="Reset" type="button" onclick="get_old_settings()">
        <input value="Submit" id="submit" type="button" onclick="send_new_settings()">
    </div>
</form>
<script src="../javascript/settings.js" type="text/javascript" onload="get_old_settings();update_all_fields(this.value)"></script>
</body>
</html>
